* {
    font-family: Helvetica, sans-serif
}

pre {
    font-family: monospace;
}

.wrapper {
    display: flex;
    margin: 32px;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
}


#onclick-example {
    color: black;

}


.css-hover-example {
    font-style: italic;
}

.css-hover-example:hover {
    opacity: 0; 
    transition: 1s;
    cursor: crosshair;
}

input:focus {
    background-color: #FFF9A6;
}

/* button:active {
    border: black;
} */   

/* CSS Animations */

@keyframes sun-expand {
    0% {
        margin-left: 100%;
        background-color: #ffe53d;
      }
    
      50% {
        background-color: #ffd72c;
        width: 100px;
        height: 100px;
      }
    100% {
        margin-left: 0%;
        background-color: #ffe53d;
    }
}

.sun {
    height: 40px;
    width: 40px;
    /* position: absolute; */
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;

    animation: 8s sun-expand infinite alternate ease-in-out;
}






 